// .scenic-spot
//   background: $colFff
//   padding-left: .24rem
//   .like-list
//     .like-item
//       padding: .2rem 0
//       position: relative
//       display: flex
//       .tag-bg
//         position: absolute
//         top: .2rem
//         left: 0
//         width: 1.06rem
//         line-height: .4rem
//         color: $colFff
//         font-size: .24rem
//         padding-left: .04rem
//       .wbwui
//         background: url(https://img1.qunarzz.com/piao/fusion/1802/20/2ba6d10b17972e02.png)
//         background-size: cover
//       .reserve
//         background: url(https://img1.qunarzz.com/piao/fusion/1802/52/b9080e45b69b4f02.png)
//         background-size: cover
//       .img-warpper
//         width: 2rem
//         height: 2rem
//         .img-content
//           width: 100%
//       .info
//         flex: 1
//         padding: 0 .2rem
//         overflow: hidden
//         .name
//           font-size: .32rem
//           padding-top: .26rem
//         .level
//           padding: .24rem 0 .22rem
//           .level-scope
//             position: relative
//             width: 1.2rem
//             height: .2rem
//             display: inline-block
//             margin-right: .2rem
//             color: $borderCol
//             .score
//               color: $emColor
//               position: absolute
//               width: 50%
//               overflow: hidden
//             .icon-score
//               font-size: .24rem
//         .comment
//         .addr
//           font-size: .24rem
//           color: $darkTextColor
//         .price-addr
//           display: flex
//           line-height: .4rem
//           .ticket
//             font-size: .24rem
//             flex: 1
//             color: $darkTextColor
//             .unit
//               color: $emColor
//             .price
//               font-size: .38rem
        // .feature
        //   margin-top: .38rem
        //   margin-right: .24rem
        //   padding: .04rem .1rem
        //   color: #f55
        //   font-size: .24rem
        //   line-height: .34rem
        //   ellipsis()
        //   .bg-feature
        //     background: #fff9f9