  .header
    display: flex
    background: $colBcd
    // color: $colFff
    height: .86rem
    line-height: .86rem
    .header-input
      flex: 1
      border-radius: .04rem
      background: $colFff
      height: .62rem
      line-height: .62rem
      margin-top: .12rem
      padding-left: .15rem
    .header-left
      width: .64rem
      padding-left: .2rem
      .icon-back
        font-size: .32rem
        font-weight: bold
    .header-right
      text-align: center
      text-align: center
      padding: 0 .1rem
      // .icon-select
      //   font-size: .1rem
      //   display: inline-block
      //   margin-left: -.04rem
