$colBcd=#00bcd4 //bgHeaderColor 选中颜色
$colFff=#fff
$darkTextColor=#616161
$emColor=#ff8300 // 黄色
$titleBgColor=#dcdcdc
$nextIconCol=#9e9e9e
$ticketCol=#00afc7 // 自营提示颜色
$col888=#888 // 标题票 说明
$borderCol=#e0e0e0 // 边框和评分
